<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/empMain_layout}">

<div layout:fragment="content">
    <table width="800" align="center">
        <tr><td>주문일(결제번호)</td>
            <td>상품명/주문번호</td>
            <td>주문상태</td>
        </tr>
        <tr th:each=" orderListDTO : ${list}">
            <td>[[${#dates.format(orderListDTO.purchaseDTO.purchaseDate,'yyyy-MM-dd')}]]
                (
                <th:block th:if="${orderListDTO.paymentDTO.appltime == null}">
                    결제대기중 <!--  결제일이 없다는 것은 아직 결제를 하지 않은 상태입니다. -->
                </th:block>
                <th:block th:if="${orderListDTO.paymentDTO.appltime != null}">
                    <th:block th:if="${orderListDTO.paymentDTO.confirmnumber == null}">
                        현금결제 <!-- 결제일은 있는데 승인번호가 없는 것 -->
                    </th:block>
                    <th:block th:if="${orderListDTO.paymentDTO.confirmnumber != null}">
                        [[${orderListDTO.paymentDTO.confirmnumber}]]
                    </th:block>
                </th:block>
                )
            </td>
            <td><!-- 주문 상품은 주문번호하나에 여러개 일 수 있어서 마이바티스에서 collection으로 받았다. -->
                <th:block th:each="dto : ${orderListDTO.purchaseListGoodsDTOs}" >
                    [[${dto.goods.goodsName}]]
                </th:block>
                /[[${orderListDTO.purchaseDTO.purchaseNum}]]</td>
            <td>
                <a th:href="|javascript:detail('${orderListDTO.purchaseDTO.purchaseNum}')|">주문상세보기</a>
                <span th:if="${orderListDTO.purchaseDTO.purchaseStatus == '입금대기중'}">
				결제대기중
			</span>
                <span th:if="${orderListDTO.purchaseDTO.purchaseStatus != '입금대기중'}">
				<!-- 결제 완료가 된 것은 성품준비중으로 변경. 배송종보가 null이어야 한다는 조건을 추가-->
				<span th:if="${orderListDTO.deliveryDTO.deliveryState == null}">
				<a th:href="@{purchaseStatus(
									purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}
								)}">[[${orderListDTO.purchaseDTO.purchaseStatus}]]</a>
				</span>
			</span>
                <!-- 배송상태이면 배송완료로 바꿔줘야 합니다. 배송상태가 배송중인 경우 배송정보에서 상태 출력-->
                <span th:if="${orderListDTO.deliveryDTO.deliveryState == '배송중' }">
				<a th:href="|/delivery/deliveryState?purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}|">[[${orderListDTO.deliveryDTO.deliveryState}]]</a>
			</span>
                <span th:if="${orderListDTO.deliveryDTO.deliveryState == '배송완료' }">
					[[${orderListDTO.deliveryDTO.deliveryState}]]
				</span>
            </td>
        </tr>
    </table>
    <!-- All JS Custom Plugins Link Here here -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        function detail(purchaseNum){
            window.open("/purchase/purchaseDetail?purchaseNum="+purchaseNum
                ,"/purchase/purchaseDetail","top='100',left='100',width=800,height=800");
        }
    </script>
</div>
</html>