<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userMain_layout}">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<th:block layout:fragment="css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .containers {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        .containers h2 {
           text-align: center;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        button {
            padding: 10px 20px;
            background-color: #5a3fff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-group {
            display: inline-block;
            width: 120px;
        }
        .btn-group button {
            width: 100%;
        }
        .register-button {
            width: 100%;
            background-color: #2577fd;
            color: white;
            border: none;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .register-button:hover {
            background-color: #2550fd;
        }
    </style>
</th:block>
<div layout:fragment="content">

    <div class="containers">
        <h2>회원가입</h2>
        <form action="/register/userRegist" class="signup-form" method="post" th:object="${memberCommand}">
                <div class="form-group">
                    <input type="hidden" id= "memberNum"  name="memberNum" th:value="${memberCommand.memberNum}"/>
                </div>
                <div>
                    <label class="label" for="memberId">아이디</label>
                    <input type="text" class="form-control"
                           name="memberId" id="memberId" th:value="${memberCommand.memberId}" placeholder="아이디를 입력하세요."/>
                    <span style="color:red"  th:if="${#fields.hasErrors('memberId')}"
                          th:errors="*{memberId}"></span></br>
                    <span id='idCheck'></span>
                </div>

                <div class="form-group">
                    <label class="label" for="memberPw">비밀번호</label>
                    <input id="memberPw" type="password" class="form-control" placeholder="비밀번호를 입력하세요." name="memberPw"></br>
                    <span style="color:red" th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}"></span>
                </div>

                <div class="form-group">
                    <label class="label" for="memberPwCon">비밀번호 확인</label>
                    <input id="memberPwCon" type="password" class="form-control" placeholder="비밀번호 중복 확인" name="memberPwCon"></br>
                    <span style="color:red" th:if="${#fields.hasErrors('memberPwCon')}" th:errors="*{memberPwCon}"></span>

                </div>


                <div class="form-group">
                    <label class="label" for="memberName">이 름</label>
                    <input id="memberName" type="text" class="form-control" placeholder="이름을 입력하세요." name="memberName"></br>
                    <span style="color:red" th:if="${#fields.hasErrors('memberName')}"
                          th:errors="*{memberName}"></span>
                </div>

                <div class="form-group">
                    <label class="label" for="memberEmail">이메일</label>
                    <input type="email" class="form-control" id= "memberEmail" placeholder="이메일을 입력하세요." name="memberEmail"
                           th:value="${memberCommand.memberEmail}" /></br>
                    <span style="color:red" th:if="${#fields.hasErrors('memberEmail')}"
                          th:errors="*{memberEmail}"></span>
                    <span id="emailCheck"></span>
                </div>

                <div class="form-group">
                    <label class="label" for="memberPhone">전화번호</label>
                    <input id="memberPhone" type="tel" class="form-control" placeholder="전화번호를 입력하세요. " name="memberPhone"
                           th:value="${memberCommand.memberPhone}" /></br>

                    <span style="color:red" th:if="${#fields.hasErrors('memberPhone')}"
                          th:errors="*{memberPhone}"></span>
                </div>

                <div class="form-group">
                    <label class="label" for="sample4_roadAddress">주소</label>
                    <input id="sample4_roadAddress" type="text" class="form-control" placeholder="주소를 입력하세요." name="memberAddr" onclick="execDaumPostcode();"
                           th:value="${memberCommand.memberAddr}" readonly="readonly"/></br>
                    <span style="color:red" th:if="${#fields.hasErrors('memberAddr')}"
                          th:errors="*{memberAddr}"></span>
                </div>

                <div class="form-group">
                    <label class="label" for="memberAddr2">상세주소</label>
                    <input id="memberAddr2" type="text" class="form-control" placeholder="상세주소 입력하세요." name="memberAddr2" th:value="${memberCommand.memberAddr2}"/><br />
                </div>

                <div class="form-group">
                    <label class="label" for="sample4_postcode">우편번호</label>
                    <input id="sample4_postcode" type="text" class="form-control" placeholder="" name="memberPost"  th:value="${memberCommand.memberPost}"
                           readonly="readonly" />
                </div>

                <div class="form-group">
                    <label class="label" for="memberBirth">생년월일</label>
                    <input id="memberBirth" type="date" class="form-control" placeholder="생년월일을 입력해주세요." name="memberBirth"
                           th:value="${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}"></br>
                    <span style="color:red" th:if="${#fields.hasErrors('memberBirth')}"
                          th:errors="*{memberBirth}"></span>
                </div>
<!--                <input type="submit" class="login-btn" value="로그인">-->
                <input type="submit" value="가입하기" class="register-button">
        </form>
        <p class="text-center">이미 회원이신가요? <a href="/login/item.login">로그인</a></p>
    </div>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/daumAddressScript.js"></script>
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>-->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

    <script type="text/javascript">

        $(function(){
            // 똑같은 방법으로 이메일 검사를 하겠습니다. 같은 방법이라 아이디 중복확인 코드를 복사해서 수정한다.
            $("#memberEmail").on("change keyup", function(){
                $.ajax({
                    type:'post',
                    url:"/checkRest/userEmailCheck",
                    data:{"userEmail":$("#memberEmail").val()},
                    dataType:'text',
                    success: function(result){
                        // userEmailCheck주소에서 넘어온 값을 result가 받아온다 .
                        // 받아온 값을 span에 전달한다.
                        $("#emailCheck").text(result);
                        if(result.trim() == "사용가능한 Email입니다."){
                            $("#emailCheck").css("color","blue");
                        }else{
                            $("#emailCheck").css("color","red");
                        }
                    },
                    error:function(){}
                });
            });

            $("#memberId").on("change keyup", function(){
                $.ajax({
                    type:'post',
                    url:"/login/userIdCheck",
                    data:{"userId":$("#memberId").val()},
                    dataType:'text',
                    success: function(result){
                        // userIdCheck주소에서 넘어온 값을 result가 받아온다 .
                        // 받안온값을 span에 전달한다.
                        $("#idCheck").text(result);
                        if(result.trim() == "사용가능한 아이디입니다."){
                            $("#idCheck").css("color","blue");
                        }else{
                            $("#idCheck").css("color","red");
                        }
                    },
                    error:function(){}
                });
            });
        });
    </script>
</div>
</html>
