<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userMain_layout}">

<div layout:fragment="content">
  <main>
    <!-- Latest Products Start -->
    <section class="latest-product-area padding-bottom">
      <div class="container">
        <div class="row product-btn d-flex justify-content-end align-items-end">
          <!-- Section Tittle -->
          <div class="col-xl-8 col-lg-7 col-md-7">
            <div class="properties__button f-right">
              <!--Nav Button  -->
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-home" aria-selected="true">모든상품</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false">새출시</a>
                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">베스트</a>
                  <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false">할인</a>
                </div>
              </nav>
              <!--End Nav Button  -->
            </div>
          </div>
        </div>
        <!-- Nav Card -->
        <div class="tab-content" id="nav-tabContent">
          <!-- card one -->
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
              <th:block th:each="dto : ${data.getGoodsList}">
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-product mb-60">
                  <div class="product-img">
                    <a th:href="|/corner/detailView/${dto.goodsNum}|">
                    <img th:src="|/upload/${dto.goodsMainStore}|"/></a>
                    <div class="new-product">
                      <span>New</span>
                    </div>
                  </div>
                  <div class="product-caption">
                    <div class="product-ratting">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star low-star"></i>
                      <i class="far fa-star low-star"></i>
                    </div>
                    <h4><a href="#">[[${dto.goodsName}]]</a></h4>
                    <div class="price">
                      <ul>
                        <li>[[${dto.goodsPrice}]]원</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Products End -->
    <!-- Best Product Start -->
    <div class="best-product-area lf-padding" >
      <div class="product-wrapper bg-height" style="background-image: url('/assets/img/categori/card.png')">
        <div class="container position-relative">
          <div class="row justify-content-between align-items-end">
            <div class="product-man position-absolute  d-none d-lg-block">
              <img src="/assets/img/categori/card-man.png" alt="">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 d-none d-lg-block">
              <div class="vertical-text">
                <span>Manz</span>
              </div>
            </div>
            <div class="col-xl-8 col-lg-8">
              <div class="best-product-caption">
                <h2>Find The Best Product<br> from Our Shop</h2>
                <p>Designers who are interesten creating state ofthe.</p>
                <a href="#" class="black-btn">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Shape -->
      <div class="shape bounce-animate d-none d-md-block">
        <img src="assets/img/categori/card-shape.png" alt="">
      </div>
    </div>
    <!-- Latest Offers End -->
    <!-- Shop Method Start-->
  </main>
  <!-- JS here -->

  <!-- All JS Custom Plugins Link Here here -->
  <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="/assets/js/jquery.slicknav.min.js"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>

  <!-- One Page, Animated-HeadLin -->
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/animated.headline.js"></script>
  <script src="/assets/js/jquery.magnific-popup.js"></script>

  <!-- Scrollup, nice-select, sticky -->
  <script src="/assets/js/jquery.scrollUp.min.js"></script>
  <script src="/assets/js/jquery.nice-select.min.js"></script>
  <script src="/assets/js/jquery.sticky.js"></script>

  <!-- contact js -->
  <script src="/assets/js/contact.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/mail-script.js"></script>
  <script src="/assets/js/jquery.ajaxchimp.min.js"></script>

  <!-- Jquery Plugins, main Jquery -->
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>

</div>


</html>
