<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        label{
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="/goods/goodsUpdate" method="post" name="frm" id="frm" th:object="${goodsCommand}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="goodsNum">상품번호</label>
            <input type="text" class="form-control" id="goodsNum" name="goodsNum" maxlength="100" required="required"
                   th:value="${goodsCommand.goodsNum}" readonly="readonly"/>
        </div>

        <div class="form-group">
            <label for="goodsName">상품명</label>

            <input type="text" class="form-control" id="goodsName" name="goodsName" maxlength="100" th:value="${goodsCommand.goodsName}"
                   required="required"><br />
            <span style="color:red" th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span><br />
        </div>

        <div class="form-group">
            <label for="goodsPrice">상품가격</label>

            <input type="number" class="form-control" id="goodsPrice" name="goodsPrice" maxlength="100" required="required">
            <span style="color:red" th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span><br />
        </div>

        <div class="form-group">
            <label for="deliveryCost">배송비</label>

            <input type="number" class="form-control" id="deliveryCost" name="deliveryCost" maxlength="100" required="required">
        </div>

        <div class="form-group">
            <label for="goodsContent">상품설명</label>

            <textarea class="form-control" rows="6" cols="50" id="goodsContent" name="goodsContent" >[[${goodsCommand.goodsContent}]]</textarea>
            <span style="color:red" th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span><br />
        </div>

        <div class="form-group">
            <label for="visitCount">조회수</label>

            <input type="number"  min = "0" id="visitCount" name="visitCount" th:field="*{visitCount}"/>
        </div>

        <div class="form-group">
            <label for="mainFile">대문이미지</label>
            <input type="file" name="goodsMainStore" id="mainFile" style="display:none"/>
            <span id="main">[[${goodsCommand.goodsMainStoreImg}]]</span>
            <button type="button" th:attr="onclick=|fileDel('${goodsCommand.goodsMainStoreImg}'
											           ,'${goodsCommand.goodsMainStore}'
											           , this,'main')|">삭제</button><br />
            <span style="color:red"  >[[${error}]]</span>

        </div>

        <div class="form-group">
            <div>설명이미지</div>
            <div th:each="file , idx : ${#strings.arraySplit(goodsCommand.goodsImagesImg,'-')}">
                [[${file}]]<button type="button" th:attr="onclick=|fileDel('${file}'
											 ,'${#strings.arraySplit(goodsCommand.goodsImages,'-')[idx.index]}'
											 , this)|">삭제</button>

            </div>
            <input type ="file" name="goodsImages" multiple="multiple"/><br />
        </div>
        <input type="submit" value="수정완료" />
        <!--    <button type="submit" class="btn btn-default">상품 등록</button>-->
    </form>
</div>
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
    function fileDel(orgFile, storeFile, btn, kind ){
        $.ajax({
            type:'post',
            url:'/goods/fileDel',
            dataType:'text',
            data:{"orgFile": orgFile , "storeFile" : storeFile , "kind" : kind},
            success:function(result){
                if(result.trim() == "1"){ //삭제
                    $(btn).text("삭제취소"); // 버튼의 텍스트가 "삭제"이면  "삭제취소"로 변경하고
                    if(kind == 'main'){
                        $("#main").css("display","none");
                        $("#mainFile").css("display","");
                    }
                }else{ // 삭제취소
                    $(btn).text("삭제"); // 버튼의 텍스트가 "삭제취소"이면  "삭제"로 변경하고
                    if(kind == 'main'){
                        $("#main").css("display","");
                        $("#mainFile").css("display","none");
                    }
                }
            }
        });
    }
</script>
</html>