<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    label{
      font-size: 20px;
    }
    .register-button {
      width: 50%;
      background-color: gray;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .register-button:hover {
      background-color: #9d9a9a;
    }
  </style>
</head>
<body>
<div class="container">
  <form action="/goods/goodsWrite" method="post" id = "frm" th:object="${goodsCommand}" enctype="multipart/form-data">
    <div class="form-group">
      <label for="goodsNum">상품번호</label>
      <input type="text" class="form-control" id="goodsNum" name="goodsNum" maxlength="100" required="required"
             th:value="${goodsCommand.goodsNum}" readonly="readonly"/>
    </div>

    <div class="form-group">
      <label for="goodsName">상품명</label>

      <input type="text" class="form-control" id="goodsName" name="goodsName" maxlength="100" th:value="${goodsCommand.goodsName}"
             required="required"><br />
      <span style="color:red" th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span><br />
    </div>

    <div class="form-group">
      <label for="goodsPrice">상품가격</label>

      <input type="number" class="form-control" id="goodsPrice" name="goodsPrice" maxlength="100" required="required">
      <span style="color:red" th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span><br />
    </div>

    <div class="form-group">
      <label for="deliveryCost">배송비</label>

      <input type="number" class="form-control" id="deliveryCost" name="deliveryCost" maxlength="100" required="required">
    </div>

    <div class="form-group">
      <label for="goodsContent">상품설명</label>

      <textarea class="form-control" rows="6" cols="50" id="goodsContent" name="goodsContent" >[[${goodsCommand.goodsContent}]]</textarea>
      <span style="color:red" th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span><br />
    </div>

    <div class="form-group">
      <label for="goodsMainStore">대문이미지</label>
      <input type="file" class="form-control" id="goodsMainStore" name="goodsMainStore">
      <span style="color:red" th:if="${#fields.hasErrors('goodsMainStore')}"
            th:errors="*{goodsMainStore}"></span><br />
    </div>

    <div class="form-group">
      <label for="goodsImages">이미지</label>
      <input type="file" class="form-control" id="goodsImages" name="goodsImages" multiple="multiple">
    </div>
    <input type="submit" value="상품 등록" class="register-button">
<!--    <button type="submit" class="btn btn-default">상품 등록</button>-->
  </form>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script type="text/javascript">
  //ajax를 이용해서 파일을 전송하겠습니다. ajaxSubmit에서 ajax로 바꾸겠습니다.
  $(function(){
    $("#btn").click(function(){
      var formData = new FormData($("#frm")[0]); //form태그안에 있는 input에 있는 값을 받아올 수 있게 설정했습니다.
      $.ajax({ // 파일을 전송하기 위한 옵션을 추가합니다. //  ajaxSubmit이 아니므오 form태그 id는 필요하지 않습니다.
        url:"/goods/goodsWrite",
        type:"post",
        data:formData,
        // 파일을 전송하기 위한 설정 입니다.
        enctype:"multipart/form-data",
        contentType : false,
        processData : false,
        //GoodsWriteService
        success:function(result){
          if(result.trim() == 200){ // 정상으로 처리 되었다면 200이면
            location.href="/goods/goodsList";
          }else{ // 오류가 있으면 goodsForm.html을 goodsWrite.html의 writeForm에 출력
            $("#writeForm").html(result);
          }
        },
        error:function(){
          alert("로그인을 다시 시도해 주세요.")
          location.href="/emp";
        }
      });
    });
  });
</script>
</html>