<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3">관리자 페이지</a>
    <!-- Sidebar Toggle-->
    <div class="nav" th:if="${session.auth == null}">
      <a class="nav-link" href="/login/login">
        <h4> 로그인</h4>
      </a>
    </div>
    <div class="nav" th:if="${session.auth != null}">
      <th:block th:if="${session.auth.grade == 'emp'}"  >
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="/emp"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/employee/empMyPage">내정보보기</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/login/logout">로그아웃</a></li>
            </ul>
          </li>
        </ul>
      </th:block>
    </div>
  </nav>
</div>
</html>