<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.web.code.mapper.member.MemberMapper">
   <!--   컬럼 정의 하도록 하겠다.-->
   <sql id="memberColumnsBase">
      member_num,member_id,member_pw,member_name,member_addr,
      member_addr_detail,member_post,member_phone,
      member_regist_date ,member_birth,member_email,
      member_email_conf,member_point
   </sql>
   <select id="memberAutoNum" resultType="string">
      select CONCAT('mem', COALESCE(MAX(CAST(SUBSTRING(member_num, 4) AS UNSIGNED)), 100000) + 1)
      from member_info
   </select>

   <select id="selectAll" resultType="memberDTO" parameterType="map">
      select <include refid="memberColumnsBase"></include> from
      member_info
      <where>
         <if test="searchWord != null">
            (member_name LIKE CONCAT('%', #{searchWord}, '%')
            OR member_id LIKE CONCAT('%', #{searchWord}, '%')
            OR member_num LIKE CONCAT('%', #{searchWord}, '%'))
         </if>
      </where>
      order by member_num
      limit #{start}, #{end}
   </select>

   <select id="memberCount" parameterType="string" resultType="int">
      select count(*) from member_info
      <if test='searchWord != null'>
         <where>
            member_name like '%' || #{searchWord} || '%'
            or member_id like '%' || #{searchWord} || '%'
            or member_num like '%' || #{searchWord} || '%'
         </where>
      </if>
   </select>

   <insert id="memberInsert" parameterType="memberDTO" >
      insert into member_info(member_num,member_id,member_pw,member_name,member_addr,
      member_addr_detail,member_post,member_phone,
      member_regist_date ,member_birth,member_email,
      member_email_conf,member_point)
      values(#{memberNum},#{memberId},#{memberPw},#{memberName}
      ,#{memberAddr},#{memberAddrDetail},#{memberPost},#{memberPhone}
      ,now(),#{memberBirth},#{memberEmail},null,0)
   </insert>



   <!-- 여러 회원을 동시에 삭제를 해야 하므로 in 연산자를 사용한다.
      in 연산자를 사용하기 위해서는 마이바티스에서 foreach를 사용해야한다.-->
   <delete id="membersDelete" parameterType="string" >
      delete from member_info
      where member_num in
      <foreach collection="membersNum" item="memberNum" open="(" close=")" index="index" separator=",">
         #{memberNum}
      </foreach>
   </delete>

   <select id="memberSelectOne" parameterType="string" resultType="memberDTO">
      select <include refid="memberColumnsBase"></include>
      from member_info
      where member_num = #{memberNum}
   </select>

   <update id="memberUpdate" parameterType="memberDTO">
      update member_info
      <trim prefix="set" suffixOverrides=","><!-- 뒤에 남아 있을 ,삭제 -->
         member_name = #{memberName},
         member_addr = #{memberAddr},
         <if test="memberAddrDetail != null">
            member_addr_detail = #{memberAddrDetail},
         </if>
         <if test="memberAddrDetail == null">
            member_addr_detail = null,
         </if>
         member_post = #{memberPost},
         member_phone = #{memberPhone},
         member_email =#{memberEmail},
         member_birth = #{memberBirth},
         member_point = #{memberPoint},
      </trim>
      <where>
         member_num = #{memberNum}
      </where>
   </update>

   <delete id="memberDelete" parameterType="string">
      delete from member_info
      <trim prefix="where" prefixOverrides="AND | OR">
         and member_num = #{memberNum}
      </trim><!-- where 다음에  AND 또는 OR가 있다면 삭제 해라. 그러므로 and는 실행될 때 자동 삭제-->
   </delete>
</mapper>