<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/css2/style.css">
</head>
<body>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-5">
				<!--	-->	<div class="login-wrap p-4 p-md-5">
				<h3 class="mb-4">회원 가입</h3>
				<form action="/member/memberRegist" class="signup-form" method="post" th:object="${memberCommand}">
					<div class="form-group">
						<input type="hidden" id= "memberNum"  name="memberNum" th:value="${memberCommand.memberNum}"/>
					</div>
					<div class="form-group">
						<label class="label" for="memberId">아이디</label>
						<input type="text" class="form-control"
							   name="memberId" id="memberId" th:value="${memberCommand.memberId}"/><br />
													<span style="color:red"  th:if="${#fields.hasErrors('memberId')}"
														  th:errors="*{memberId}"></span><br />
													<span id='idCheck'></span><br />
					</div>

					<div class="form-group">
						<label class="label" for="memberPw">비밀번호</label>
						<!--	              <input id="password-field" type="password" class="form-control" placeholder="Password">-->
						<input id="memberPw" type="password" class="form-control" placeholder="Password" name="memberPw">
						<span style="color:red" th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}"></span><br />

					</div>

					<div class="form-group">
						<label class="label" for="memberPwCon">비밀번호 확인</label>
						<input id="memberPwCon" type="password" class="form-control" placeholder="Confirm Password" name="memberPwCon">
						<span style="color:red" th:if="${#fields.hasErrors('memberPwCon')}"
							  th:errors="*{memberPwCon}"></span><br />
					</div>


					<div class="form-group">
						<label class="label" for="memberPwCon">이 름</label>
						<input id="memberName" type="text" class="form-control" placeholder="Confirm Password" name="memberName">
						<span style="color:red" th:if="${#fields.hasErrors('memberName')}"
							  th:errors="*{memberName}"></span><br />
					</div>

					<div class="form-group">
						<label class="label" for="memberEmail">이메일</label>
						<input type="email" class="form-control" id= "memberEmail" placeholder="johndoe@gmail.com" name="memberEmail"
							   th:value="${memberCommand.memberEmail}" /><br />
						<span style="color:red" th:if="${#fields.hasErrors('memberEmail')}"
							  th:errors="*{memberEmail}"></span><br />
						<span id="emailCheck"></span><br />
					</div>

					<div class="form-group">
						<label class="label" for="memberPhone">전화번호</label>
						<input id="memberPhone" type="tel" class="form-control" placeholder="Confirm Password" name="memberPhone"
							   th:value="${memberCommand.memberPhone}" /><br />

						<span style="color:red" th:if="${#fields.hasErrors('memberPhone')}"
							  th:errors="*{memberPhone}"></span><br />
					</div>

					<div class="form-group">
						<label class="label" for="sample4_roadAddress">주소</label>
						<input id="sample4_roadAddress" type="text" class="form-control" placeholder="Confirm Password" name="memberAddr" onclick="execDaumPostcode();"
							   th:value="${memberCommand.memberAddr}" readonly="readonly"/><br />
						<span style="color:red" th:if="${#fields.hasErrors('memberAddr')}"
							  th:errors="*{memberAddr}"></span><br />
					</div>

					<div class="form-group">
						<label class="label" for="memberAddr2">상세주소</label>
						<input id="memberAddr2" type="text" class="form-control" placeholder="Confirm Password" name="memberAddr2" th:value="${memberCommand.memberAddr2}"/><br />
					</div>

					<div class="form-group">
						<label class="label" for="sample4_postcode">우편번호</label>
						<input id="sample4_postcode" type="text" class="form-control" placeholder="Confirm Password" name="memberPost"  th:value="${memberCommand.memberPost}"
							   readonly="readonly" /><br />
					</div>

					<div class="form-group">
						<label class="label" for="memberBirth">생년월일</label>
						<input id="memberBirth" type="date" class="form-control" placeholder="Confirm Password" name="memberBirth"
							   th:value="${#dates.format(memberCommand.memberBirth,'yyyy-MM-dd')}">
						<span style="color:red" th:if="${#fields.hasErrors('memberBirth')}"
							  th:errors="*{memberBirth}"></span><br />
					</div>

					<div class="form-group d-flex justify-content-end mt-5">
						<button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button>
					</div>

				</form>
				<p class="text-center">이미 회원이신가요? <a href="#signin">로그인</a></p>
			</div>
			</div>
		</div>
	</div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">

	$(function(){
		// 똑같은 방법으로 이메일 검사를 하겠습니다. 같은 방법이라 아이디 중복확인 코드를 복사해서 수정한다.
		$("#memberEmail").on("change keyup", function(){
			$.ajax({
				type:'post',
				url:"/checkRest/userEmailCheck",
				data:{"userEmail":$("#memberEmail").val()},
				dataType:'text',
				success: function(result){
					// userEmailCheck주소에서 넘어온 값을 result가 받아온다 .
					// 받아온 값을 span에 전달한다.
					$("#emailCheck").text(result);
					if(result.trim() == "사용가능한 Email입니다."){
						$("#emailCheck").css("color","blue");
					}else{
						$("#emailCheck").css("color","red");
					}
				},
				error:function(){}
			});
		});

		$("#memberId").on("change keyup", function(){
			$.ajax({
				type:'post',
				url:"/login/userIdCheck",
				data:{"userId":$("#memberId").val()},
				dataType:'text',
				success: function(result){
					// userIdCheck주소에서 넘어온 값을 result가 받아온다 .
					// 받안온값을 span에 전달한다.
					$("#idCheck").text(result);
					if(result.trim() == "사용가능한 아이디입니다."){
						$("#idCheck").css("color","blue");
					}else{
						$("#idCheck").css("color","red");
					}
				},
				error:function(){}
			});
		});
	});
</script>
</body>
</html>

